[package]
name = "l3x-ide"
version = "0.0.1"
edition = "2021"

[profile.wasm-release]
inherits = "release"
opt-level = "z"
lto = "fat"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
macroquad = "0.3"
egui-macroquad = "0.15"
egui = "0.21"

log = "0.4"
simple_logger = "4.1"

itertools = "0.10"
tap = "1.0"
thiserror = "1.0"
duplicate = "1.0"
vec-drain-where = "1.0"
if_chain = "1.0"

prime_factorization = "1.0"
csv = "1.1"
